/* animate page */

.view-container {
  position: relative;
}
 
.view-frame.ng-enter, .view-frame.ng-leave {
  background: white;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
}
 
.view-frame.ng-enter {
  -webkit-animation: 1s fade-in;
  -moz-animation: 1s fade-in;
  -o-animation: 1s fade-in;
  animation: 1s fade-in;
  z-index: 100;
}
 
.view-frame.ng-leave {
  -webkit-animation: 1s fade-out;
  -moz-animation: 1s fade-out;
  -o-animation: 1s fade-out;
  animation: 1s fade-out;
  z-index:99;
}
 
@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
@-moz-keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
@-webkit-keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
 
@keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}
@-moz-keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}
@-webkit-keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}



/* animate cards */

.card.ng-enter,
.card.ng-leave,
.card.ng-move {
  -webkit-transition: 1s linear all;
  -moz-transition: 1s linear all;
  -o-transition: 1s linear all;
  transition: 1s linear all;
}
 
.card.ng-enter,
.card.ng-move {
  opacity: 0;
  overflow: hidden;
}
 
.card.ng-move.ng-move-active,
.card.ng-enter.ng-enter-active {
  opacity: 1;
}
 
.card.ng-leave {
  opacity: 1;
  overflow: hidden;
}
 
.card.ng-leave.ng-leave-active {
  opacity: 0;
  padding-top: 0;
  padding-bottom: 0;
}

/* other animations */

.fadeout {
	.card.ng-move {
  -webkit-transition: 1s linear all;
  -moz-transition: 1s linear all;
  -o-transition: 1s linear all;
  transition: 1s linear all;
}
