/* General styles */
html, body {
font-family: 'Raleway', sans-serif !important;
}

body {
    background-color: rgba(255,255,255,0.79) !important;
}

.card a, #header a {color: black !important;text-decoration: none !important;}

.addnew {position: fixed;bottom:15px;right:15px;border-radius: 15% !important;}

.buffer { margin-top:50px; }

/* smooth hover effects */
* {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#footer {
    margin-top: 50px;
    height: 60px;
}

/* Header styles */

#header {background-image:linear-gradient(to bottom,#563d7c 0,#6f5499 100%);margin:-30px -30px 0 -30px;padding:30px 30px 0 30px;}


.langswitch {position: absolute !important;top:10px;right:10px;}

#filters {text-align: center;}

#filters input[type='submit'] {
  position: absolute;
  width: 0;
  height: 0;
  border: none;
  margin: 0;
  padding: 0;
}


/* Card view styles */

.sectionhead {text-transform: uppercase;color: #dbdbdb;font-size:80%;text-align: center;margin: 20px auto 10px;}

.line {
  line-height: 0.5;
  text-align: left;
}

.line span:before,
.line span:after {
  content: "";
  position: absolute;
  height: 1px;
  border-top: 1px solid #dbdbdb;
  top: 0.2em;
  width: 100%;
}
.line span:before {
  right: 100%;
  margin-right: 15px;
}
.line span:after {
  left: 100%;
  margin-left: 15px;
}

.card {
  list-style: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; 
  width:100%;
  margin-bottom: 15px;
}

.textcard {
	padding:5%;
	border-left: 6px solid;
	border: 1px solid rgba(225,225,225,0.2);
	font-size: 120%;
}

.imagecard {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; 
  width:100%;
  margin-right: 20px;
  position: relative;
  min-height: 220px;
  background: white !important;
  border: 1px solid #efefef;
}

.imagecard img {float:left;width:150px;height:220px;margin-right: 15px;}

.imagecard .cardtext {padding: 15px 10px 0 0;}


.latest .btn {width: 100%;margin-bottom: 20px;}
.morefrom .btn {width: 100%;margin-top: 10px;}
#thankyou .btn {width: 100%;margin: 10px 0;}


.description:before {content: "— ";}





.source, .credit {
    font-size: 0.8em;
    color:grey;
    margin-top: 15px;
}

.source a {
    color:grey;
}

/* category colors TODO: find good scheme once number of categories is known */
.color-5 {background-color: rgba(0,128,128,0.05);}
.color-6 {background-color: rgba(255,0,255,0.05);}
.color-7 {background-color: rgba(0,0,255,0.05);}
.color-8 {background-color: rgba(9,88,15,0.05);}

.color-5:hover {background: rgba(0,128,128,0.2);}
.color-6:hover {background: rgba(255,0,255,0.2);}
.color-7:hover {background: rgba(0,0,255,0.2);}
.color-8:hover {background: rgba(9,88,15,0.2);}


/* Single page styles */

.detail {margin-top:40px;height:500px;clear: both;}

.singleline {text-align: center;}
.line span {
  display: inline-block;
  position: relative;  
}
.singleline span:before,
.singleline span:after {
  height: 4px;
  border-top: 4px solid teal !important;
  top: 0.2em;
  width: 300px !important;
}

.translated-false {color: grey;}
.translated-false span {font-size: 80%;}

.prediction {position: relative;}
.prediction img {position: absolute;top:0;left:0;background-color: grey;}
.predictiontext {position: absolute;margin:30% 5% 0 5%;width: 90%;padding:0 10px;background-color: rgba(255,255,255,0.79);font-size: 140%;}

.moments {margin-bottom: 20px;}
.moments p.credit {margin-top: 0;float: right;}
.moments li     	     {
		list-style: none;
	     }

.moments li:before {
		content: "\2023 \0020";
	     }


.verticalline {border-left: 4px solid black;padding-left:20px;min-height: 400px;width:50px;margin-right: 10px;width: 0;overflow: visible;}
.timedot {width: 20px;height:20px;left:-12px;background: fuchsia;border-radius: 50%;border:3px solid black;}
.timetext {width:50px;left:10px;}
.addRealisation {}
.addRealisation:hover {}

/* form styles */

.back {text-align: center;margin-top: 20px;font-size:85%;}

/* embed styles */

.embed p {font-size: 20px !important;}
#signature {padding:5px;background-color: #000040;color:white;height:30px;}


/* footer styles */

#share-buttons img {
width: 50px;
padding: 10px;
border: 0;
box-shadow: 0;
display: inline;
}



/* Responsive CSS fixes */

@media (min-width: 768px) {

}

@media (max-width: 767px) {
.imagecard {border:0;background-color: #fbfbfb !important;}
.imagecard img {float:left;width:100px;height:auto;margin: 10px;}
.imagecard .cardtext {padding: 8px 5px 0 0;}
}

@media (min-width:400px){
}

@media (max-width:400px){
.sectionhead {text-align: center;}
}


/* typeahead styles */
.tt-dropdown-menu,
.gist {
  text-align: left;
}

.sfTypeahead,
.tt-query,
.tt-hint {
  box-sizing: border-box;
  width: 280px;
  height: 40px;
  padding: 6px 8px;
  font-size: 120%;
  line-height: 30px;
  border: 0;
  outline: none;
  background-color: #f0f0f0 !important;
}

.sfTypeahead {
  background-color: #fff;
}

.sfTypeahead:focus {
  
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999;
}

.tt-dropdown-menu {
  width: 280px;
  margin-top: 0px;
  padding: 4px 0;
  background-color: #fff;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion.tt-cursor {
    background-color: rgba(0,130,130,0.4);
}

.tt-suggestion p {
  margin: 0;
}

.gist {
  font-size: 14px;
}
