/* General styles */
html, body {
  font-family: 'Raleway', Helvetica, Arial, sans-serif !important;
}

.container-fluid {
    background: #E8E8DE !important;
}

.card a, .card a:hover {color: black;text-decoration: none;}

.addnew {position: fixed;bottom:15px;right:15px;border-radius: 15% !important;z-index: 100;}

.buffer {margin-top:50px;}

/* smooth hover effects */
.card, button, .btn, .button, #share-buttons img, #twitter-widget-0, #header h1 {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* Header styles */

#header {
  background: #8f8f8b;
  margin-bottom: 10px;
  padding:0;
  height:90px;  
  width: 100%;
}


#header h1 {
  word-spacing: -0.25em;
  float:left;
  height:90px;
  line-height:90px;
  background:#4b4f4f;
  margin:0;
  padding:0 20px;
  position:relative;
  width:330px;
  white-space: nowrap;
}

#header h1 a {
  color:#E8E8DE !important;
  text-decoration: none;
}

#header h1 a:hover {
  color:#e8e8d5 !important;
}

#header h1:after {
  content:"";
  position:absolute;
  left:100%;
  top:0;
  border:45px solid #4b4f4f;  
  border-right-color:transparent;
  border-bottom-color:transparent;
}

.langswitch{
  position: absolute !important;
  right:20px;
  top:100px;
  z-index:10;
}

.viewswitch {
  padding:10px 0;
  margin:20px;
  margin-top:0;
  font-size:20px;
}

.viewswitch a{
  padding:0 20px;
  color:#646969;
  outline:none;
}

.viewswitch a.active,
.viewswitch a:active,
.viewswitch a:focus {
  font-weight:bold;
  text-decoration: none;
}

#toggle-filters {
  position:absolute;
  top:0;
  right:0px;
  height:90px;
  line-height:90px;
  width:40px;
  text-align: center;
  color:white;
  font-size:20px;
}

#toggle-filters i {  
  background:rgba(255, 255, 255, 0.1);
  padding:10px;
  border-radius: 2px 0 0 2px;
  cursor:pointer;
  z-index:200;
}

#filters {
  position:absolute;
  height:90px;
  padding-top:25px;
  padding-right:20px;
  top:0;
  left:420px;
  right:0;
  text-align: center;
  background:#646969;  
  min-width:200px;
  z-index:100;
}

#filters:before {
  content:"";
  position:absolute;
  right:100%;
  top:0;
  border:45px solid #646969;  
  border-left-color:transparent;
  border-top-color:transparent;
}

#filters .dropdown {
  display: inline-block;
  margin:0;
  text-align: left;
}

#filters .dropdown li {
	cursor: pointer;
}

#filters .dropdown .btn {
  max-width:120px;
}

.alert-welcome {
  border: 2px solid #026280 !important;
  background-color: rgba(2,98,128,0.1); 
  color: black;
}
.alert-welcome .close {
  color: #026280 !important;
}
.alert-welcome .alert-link {
  color: #e6e6e6;
}


/* Card view styles */

.sectionhead {text-transform: uppercase;color: black;font-size:80%;text-align: center;margin: 20px auto 10px;}

.line {
  line-height: 0.5;
  text-align: left;
}

.line span:before,
.line span:after {
  content: "";
  position: absolute;
  height: 1px;
  border-top: 1px solid #dbdbdb;
  top: 0.2em;
  width: 100%;
}
.line span:before {
  right: 100%;
  margin-right: 15px;
}
.line span:after {
  left: 100%;
  margin-left: 15px;
}

.card {
  list-style: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; 
  width:100%;
  margin-bottom: 15px;
}

.textcard {
	border: 1px solid rgba(225,225,225,0.2);
	font-size: 120%;
}

.textcard a {
    display: block;
	padding: 5% 5% 2% 5%;
}

.imagecard {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; 
  width:100%;
  margin-right: 20px;
  position: relative;
  min-height: 220px;
}

.imagecard a {
    display: block;
	padding: 0%;
	min-height: 220px;
}

.imagecard:not(:hover) {background: rgba(103,91,49,0.05) !important;}

.imagecard img {float:left;width:150px;height:220px;margin-right: 15px;}

.imagecard .cardtext {padding: 15px 10px 0 0;}

.latest .btn {width: 100%;margin-bottom: 20px;}

.description:before {content: "— ";}

.source, .credit {
    font-size: 0.8em;
    color:grey;
    margin-top: 15px;
}

.source a {
    color:grey;
}

/* category colors */

.categories li {background-color: inherit; border-left: 4px solid grey;}

.dropdown-menu li.color-1 {border-color: rgba(125,63,66,1);}
.dropdown-menu li.color-2 {border-color: rgba(140,84,110,1);}
.dropdown-menu li.color-3 {border-color: rgba(133,115,153,1);}
.dropdown-menu li.color-4 {border-color: rgba(100,149,181,1);}
.dropdown-menu li.color-5 {border-color: rgba(62,182,186,1);}
.dropdown-menu li.color-6 {border-color: rgba(85,207,165,1);}
.dropdown-menu li.color-7 {border-color: rgba(154,227,129,1);}
.dropdown-menu li.color-8 {border-color: rgba(240,240,106,1);}

.color-1 {background-color: rgba(125,63,66,0.2);}
.color-2 {background-color: rgba(140,84,110,0.2);}
.color-3 {background-color: rgba(133,115,153,0.2);}
.color-4 {background-color: rgba(100,149,181,0.2);}
.color-5 {background-color: rgba(62,182,186,0.2);}
.color-6 {background-color: rgba(85,207,165,0.2);}
.color-7 {background-color: rgba(154,227,129,0.2);}
.color-8 {background-color: rgba(240,240,106,0.2);}

.color-1:hover {background-color: rgba(125,63,66,0.4);}
.color-2:hover {background-color: rgba(140,84,110,0.4);}
.color-3:hover {background-color: rgba(133,115,153,0.4);}
.color-4:hover {background-color: rgba(100,149,181,0.4);}
.color-5:hover {background-color: rgba(62,182,186,0.5);}
.color-6:hover {background-color: rgba(85,207,165,0.5);}
.color-7:hover {background-color: rgba(154,227,129,0.5);}
.color-8:hover {background-color: rgba(240,240,106,0.4);}

.linecolor-1 span:before, .linecolor-1 span:after {border-color: rgba(125,63,66,0.4) !important;}
.linecolor-2 span:before, .linecolor-2 span:after {border-color: rgba(140,84,110,0.4) !important;}
.linecolor-3 span:before, .linecolor-3 span:after {border-color: rgba(133,115,153,0.4) !important;}
.linecolor-4 span:before, .linecolor-4 span:after {border-color: rgba(100,149,181,0.4) !important;}
.linecolor-5 span:before, .linecolor-5 span:after {border-color: rgba(62,182,186,0.4) !important;}
.linecolor-6 span:before, .linecolor-6 span:after {border-color: rgba(85,207,165,0.4) !important;}
.linecolor-7 span:before, .linecolor-7 span:after {border-color: rgba(154,227,129,0.4) !important;}
.linecolor-8 span:before, .linecolor-8 span:after {border-color: rgba(240,240,106,0.4) !important;}

/* Single page styles */

#content {
  margin-top: 20px;
  overflow:hidden;
}

.detail {margin-top:40px;clear: both;}

.singleline {text-align: center;}
.line span {
  display: inline-block;
  position: relative;  
}
.singleline span:before,
.singleline span:after {
  height: 4px;
  border-top: 4px solid rgba(255,255,255,0.79);
  top: 0.2em;
  width: 100% !important;
}

.translated-false {color: grey;}

.predictiontext {font-size:140%;}
span.tools {font-size:60%;}

.moments {margin-bottom: 50px;}
.moments p.credit, .prediction p.credit {margin-top: 0;float: right;}
.moments li     	     {
		list-style: none;
	     }

.moments li:before {
		content: "\2023 \0020";
	     }
	     
.morefrom .btn {width: 100%;margin-top: 10px;}
#thankyou .btn {width: 100%;margin: 10px 0;}

#share-buttons {margin-bottom: 10px;}

#share-buttons img {
width: 60px;
padding: 10px;
border: 0;
box-shadow: 0;
display: inline;
opacity: 0.7;
}

#share-buttons img:hover {
	opacity: 1;
}

input.embedcode {margin-top: 8px;width: 100% !important;}

/* timeline styles */

#timelineinfo {position: absolute;top:200px;background-color: rgba(255,255,255,0.7);border-radius: 10px;padding:10px 25px 25px 25px;}

/* form styles */

.back {text-align: center;margin-top: 20px;font-size:85%;cursor: pointer;}
.charstats {color: grey;}

/* embed styles */

.embed-true {
border:1px solid black;
background: transparent;
-moz-box-shadow: 2px 2px 3px 0px #ccc;
-webkit-box-shadow: 2px 2px 3px 0px #ccc;
box-shadow: 2px 2px 3px 0px #ccc;}

.embed .badge {background-color: rgba(0,0,64,1); color: white;float:right;}

#signature {
padding:5px;
border-top: 1px solid rgba(127,127,127,0.15);
font-size: 0.8em;
color:grey;
}

#signature a {float:right;}

/* footer styles */

#footer {
    padding: 50px 0;
    background: #E8E8DE !important;
}

.logos img {opacity: 0.5;vertical-align: top;}
.logos img:hover {opacity: 1;}
.logos img.jplusplus {width: 80px;margin-left: 10px;}
.logos img.tageswoche {width: 110px;}
  

/* typeahead styles */
.tt-dropdown-menu,
.gist {
  text-align: left;
}

.twitter-typeahead {
  width:100%;
}

.sfTypeahead,
.tt-query,
.tt-hint {
  box-sizing: border-box;
  width: 100%;
  height: 35px;
  padding: 6px 8px;
  font-size: 120%;
  line-height: 30px;
  border: 0;
  outline: none;
  background-color: rgba(250,250,250,0.5) !important;
}

.sfTypeahead {
  background-color: #fff;
}

.sfTypeahead:focus {
  
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999;
}

.tt-dropdown-menu {
  width: 100%;
  margin-top: 0px;
  padding: 4px 0;
  background-color: #fff;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion.tt-cursor {
    background-color: #eeeeee;
    cursor: pointer;
}

.tt-suggestion p {
  margin: 0;
}

.gist {
  font-size: 14px;
}

/* spinner styles */

#loading {text-align: center;font-size: 80%;}

.spinner {
  width: 50px;
  height: 50px;
  background-color: rgba(155,164,176,0.3);

  margin: 10px auto;
  -webkit-animation: rotateplane 1.2s infinite ease-in-out;
  animation: rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

/* Responsive CSS fixes */

@media (max-width: 767px) {
.imagecard img {float:left;width:100px;height:auto;margin: 10px;}
.imagecard .cardtext {padding: 8px 5px 0 0;}
}


@media (min-width:620px){  
  #toggle-filters {
    display:none;
  }
}

@media (max-width:620px){  
  #filters {
    left:0;
    right:0;
    display:none; 
    padding:25px;   
    padding-right:50px;
  }
  
  #filters:after {
    border:0;
  }

  #filters.visible-mobile {
    display:block;
  }
}

@media (max-width:400px){
  .buffer { margin-top:20px; }
  .sectionhead {text-align: center;}
  #share-buttons {text-align: center;}
  .embed .predictiontext {font-size:110%;}
  
  #header h1:after {
    border:0;
  }
  
  #header h1 {    
    float:none;
    width:auto;
  }

}

h3.typeahead_category {
  margin: 0;
  padding: 0;
  font-weight: 400;
}