div.timeline {
    width: 100%;
    height: 400px;
}

div.timeline svg {
}

div.timeline svg g.axis path, div.timeline svg g.axis .tick line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

div.timeline svg g rect {
    shape-rendering: crispEdges;
}

div.timeline svg g.color-1 circle, div.timeline svg g.color-1 rect { fill: rgba(125,  63,  66, 0.6); }
div.timeline svg g.color-2 circle, div.timeline svg g.color-2 rect { fill: rgba(140,  84, 110, 0.6); }
div.timeline svg g.color-3 circle, div.timeline svg g.color-3 rect { fill: rgba(133, 115, 153, 0.6); }
div.timeline svg g.color-4 circle, div.timeline svg g.color-4 rect { fill: rgba(100, 149, 181, 0.6); }
div.timeline svg g.color-5 circle, div.timeline svg g.color-5 rect { fill: rgba( 62, 182, 186, 0.6); }
div.timeline svg g.color-6 circle, div.timeline svg g.color-6 rect { fill: rgba( 85, 207, 165, 0.6); }
div.timeline svg g.color-7 circle, div.timeline svg g.color-7 rect { fill: rgba(154, 227, 129, 0.6); }
div.timeline svg g.color-8 circle, div.timeline svg g.color-8 rect { fill: rgba(240, 240, 106, 0.6); }

div.timeline svg g line {
    stroke: gray;
    stroke-width: 2;
    stroke-dasharray: 1 2;
    shape-rendering: crispEdges;
}