div.timeline {
    width: 100%;
}

div.timeline svg .visible {
    visibility: visible !important;
}

div.timeline svg g.axis path, div.timeline svg g.axis .tick line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
    stroke-dasharray: none;
    stroke-width: 1;
    visibility: visible
}

div.timeline svg g.axis-0 path, div.timeline svg g.axis-2 path {
    stroke-dasharray: 3 4;
}

div.timeline svg g rect, div.timeline svg g circle, div.timeline svg g path {
    cursor: pointer;
}

div.timeline svg g.color-1 circle, div.timeline svg g.color-1 rect, div.timeline svg g.color-1 path { fill: rgba(125,  63,  66, 0.8); stroke: rgba(105,  43,  46, 1); }
div.timeline svg g.color-2 circle, div.timeline svg g.color-2 rect, div.timeline svg g.color-2 path { fill: rgba(140,  84, 110, 0.8); stroke: rgba(120,  64,  90, 1); }
div.timeline svg g.color-3 circle, div.timeline svg g.color-3 rect, div.timeline svg g.color-3 path { fill: rgba(133, 115, 153, 0.8); stroke: rgba(113,  95, 133, 1); }
div.timeline svg g.color-4 circle, div.timeline svg g.color-4 rect, div.timeline svg g.color-4 path { fill: rgba(100, 149, 181, 0.8); stroke: rgba( 80, 129, 161, 1); }
div.timeline svg g.color-5 circle, div.timeline svg g.color-5 rect, div.timeline svg g.color-5 path { fill: rgba( 62, 182, 186, 0.8); stroke: rgba( 42, 162, 166, 1); }
div.timeline svg g.color-6 circle, div.timeline svg g.color-6 rect, div.timeline svg g.color-6 path { fill: rgba( 85, 207, 165, 0.8); stroke: rgba( 65, 187, 145, 1); }
div.timeline svg g.color-7 circle, div.timeline svg g.color-7 rect, div.timeline svg g.color-7 path { fill: rgba(154, 227, 129, 0.8); stroke: rgba(134, 207, 109, 1); }
div.timeline svg g.color-8 circle, div.timeline svg g.color-8 rect, div.timeline svg g.color-8 path { fill: rgba(240, 240, 106, 0.8); stroke: rgba(220, 220,  86, 1); }

div.timeline svg g line {
    stroke: black;
    stroke-width: 1;
    stroke-dasharray: 1 2;
    shape-rendering: crispEdges;
    opacity: .3;
}

div.timeline svg g line.visible {
    opacity: 1;
}

div.timeline svg g.tooltips_body > * {
    visibility: hidden;
}

div.timeline svg g.tooltips_body body {
    background: lightgray;
}

div.timeline svg g.tooltips_body body p {
    color: black;
}

div.timeline svg g.tooltips_body body p a {
    cursor: pointer;
}

div.timeline svg g.tooltips_path path {
    background: none;
    visibility: hidden;
    fill: lightgray;
    stroke: black;
    shape-rendering: crispEdges;
}

div.timeline svg g.faded rect, div.timeline svg g.faded circle, div.timeline svg g.faded path {
    opacity: .3;
}