<div class="btn-group langswitch">
              <button type="button" ng-click="changeLanguage('E')" class="btn btn-default btn-xs" ng-class="isActive('E')">En<span class="hidden-xs">glish</span></button>
              <button type="button" ng-click="changeLanguage('D')" class="btn btn-default btn-xs" ng-class="isActive('D')">De<span class="hidden-xs">utsch</span></button>
</div>

<div class="alert alert-info alert-dismissable" ng-hide="returningVisitor">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		<strong>[['welcome_bold' | translate ]]</strong> [['welcome_text' | translate ]]
</div>

<div id="content">
    <div class="detail row">
        <p class="line singleline linecolor-[[prediction.category.color]]"><span>[[prediction.category|getTranslated:'title']]</span></p>
        
        <div class="col col-lg-6 col-lg-offset-3">
        
            <div class="prediction">
                <img ng-if="prediction.image" ng-src="{{STATIC_URL}}{{MEDIA_URL}}[[prediction.image]]" width="100%"/>
                <p class="text-muted credit">[[prediction.image_credit]]</p>
                <div class="predictiontext">
                <h2>[[prediction|getTranslated:'headline']]</h2>    
                <p class="translated-[[prediction.isTranslated]]">[[prediction|getTranslated:'description']] <span ng-if="!prediction.isTranslated"><a href="" ng-click="prediction.isTranslating = !prediction.isTranslating">([['Translate' | translate]])</a></span></p>
                
                 <form role="form" ng-if="prediction.isTranslating" ng-submit="translate(prediction,'prediction')">
		             <div class="form-group">
                         <label for="prediction" ng-if="prediction.translateToE">[['Translate to English' | translate]]</label>
                         <label for="prediction" ng-if="!prediction.translateToE">[['Translate to German' | translate]]</label>
                         <textarea class="form-control" id="prediction" rows="5" maxlength="300" ng-model="translationArray[prediction.id]" required autofocus></textarea>
                     </div>
                     <button type="submit" class="btn btn-default btn-block">[['Submit translation' | translate]]</button>
		         </form>
		        <div class="help-block alert alert-success alert-dismissable" ng-show="prediction.thanks">
		            <p>[['Thank you for your translation. The internet thanks you.' | translate]]</p>
                </div>
                
                <p class="credit" ng-show="prediction.username">&mdash; [['contributed by' | translate]] [[prediction.username]]</p>
                </div>     
            </div>
        </div>
    </div>
    
    <div class="buffer"></div>
        
        
    <div class="timeline row">
	        <div class="row moments [[alldates.type]] col-lg-6 col-lg-offset-3" ng-repeat="alldates in alldates | orderBy:sorting">
	               <div class="col col-sm-1">
	                   <strong>[[alldates.year]]</strong>
	               </div>
	               <div class="col col-sm-8" ng-switch on="alldates.type">
	                   
	                   <div ng-switch-when="published">
	                      <p>[['Prediction is published in' | translate]] «[[prediction.source | getTranslated:'title']]» [['by' | translate]] [[prediction.source.author]].
	                      <p class="source">[[prediction.source | getTranslated:'description']]  <span><a href="" ng-if="!alldates.isTranslated && !alldates.isEmpty" ng-click="alldates.isTranslating = !alldates.isTranslating">([['Translate' | translate]])</a></span></p>             
	                      
	                      <form role="form" ng-show="alldates.isTranslating" ng-submit="translate(alldates,'source')">
		                      <div class="form-group">
                              <label for="sourcedescription" ng-if="alldates.translateToE">[['Translate to English' | translate]]</label>
                              <label for="sourcedescription" ng-if="!alldates.translateToE">[['Translate to German' | translate]]</label>
                              <textarea class="form-control" id="sourcedescription" rows="5" maxlength="300" ng-model="translationArray[alldates.id]" required autofocus></textarea>
                              </div>
                              <button type="submit" class="btn btn-default btn-block">[['Submit translation' | translate]]</button>
		                  </form>
		                  <div class="help-block alert alert-success alert-dismissable" ng-show="alldates.thanks">
		                      <p>[['Thank you for your translation. The internet thanks you.' | translate]]</p>
                          </div>
	                     
	                      <li ng-show="alldates.link" target="_blank"><a ng-href="[[alldates.link]]">[['Read more about' | translate]] [[prediction.source | getTranslated:'title']]</a></li>
		                  <li><a ng-href="[[prediction.amzn]]" target="_blank">[['Buy ' | translate]] [[prediction.source | getTranslated:'title']] [['on Amazon' | translate]]</a></li>
		               </div>
		               
		               <div ng-switch-when="predicted">
		                   [['Story in' | translate]] [[prediction.source | getTranslated:'title']] [['is set in' | translate]] [[alldates.year]].
		               </div>
		               
		               <div ng-switch-when="introduced">
		                   <p class="translated-[[alldates.isTranslated]]">[[alldates|getTranslated:'text']] <span><a href="" ng-if="!alldates.isTranslated" ng-click="alldates.isTranslating = !alldates.isTranslating">([['Translate' | translate]])</a></span></p>
		                   <p class="credit" ng-show="alldates.credit">&mdash; [['contributed by' | translate]] [[alldates.credit]]</p>
		                   <li ng-show="alldates.link" target="_blank"><a ng-href="[[alldates.link]]">[['Read more about this' | translate]]</a></li>
		                   <form role="form" ng-show="alldates.isTranslating" ng-submit="translate(alldates,'realisation')">
		                       <div class="form-group">
                                   <label for="realisation" ng-if="alldates.translateToE">[['Translate to English' | translate]]</label>
                                   <label for="realisation" ng-if="!alldates.translateToE">[['Translate to German' | translate]]</label>
                                   <textarea class="form-control" id="realisation" rows="5" maxlength="300" ng-model="translationArray[alldates.id]" required autofocus></textarea>
                               </div>
                               <button type="submit" class="btn btn-default btn-block">[['Submit translation' | translate]]</button>
		                   </form>
		                   <div class="help-block alert alert-success alert-dismissable" ng-show="alldates.thanks">
						       <p>[['Thank you for your translation. The internet thanks you.' | translate]]</p>
                           </div>
		               </div>
		               
	               </div> <!-- col-8 -->
	               
	               <div class="col col-sm-3">
	                   <img width="100%" ng-src="{{STATIC_URL}}{{MEDIA_URL}}[[alldates.img]]" alt="[[prediction.source | getTranslated:'title']]" ng-if="alldates.img" class="hidden-xs">
	                   <p ng-if="alldates.img_credit" class="text-muted credit">[[alldates.img_credit]]</p>
	               </div>
	               
            </div> <!-- moments -->
            
            <div class="col-sm-6 col-lg-4 col-sm-offset-3 col-lg-offset-4">
	            <p class="text-center"><small>[['Has the prediction become a reality?' | translate ]]</small></p>
	            <a ng-href="[[language]]/submit/realisation?p=[[prediction.id]]" class="btn btn-primary btn-lg btn-block addRealisation">[['Add a realisation' | translate]]</a>
            </div>
            
	</div> <!-- timeline -->
       
	<div class="buffer"></div>
	
	<div id="sharing" class="row">
	    <div id="share-buttons" class="col col-sm-3 col-sm-offset-3 col-lg-offset-4 col-lg-2">
            <small>Share</small><br/>
            <a ng-href="[[shareurls.fb]]" target="_blank"><img src="{{ STATIC_URL }}img/facebook.png" alt="Facebook" /></a>
            <a ng-href="[[shareurls.twi]]" target="_blank"><img src="{{ STATIC_URL }}img/twitter.png" alt="Twitter" /></a>
            <a ng-href="[[shareurls.mail]]"><img src="{{ STATIC_URL }}img/email.png" alt="Email" /></a>
    	</div>
    	<div id="embed" class="col col-sm-3 col-lg-2 hidden-xs">
	    	<label for="embedcode">Embed</label>
	    	<input id="disabledTextInput" class="embedcode" placeholder="[['Function not available yet' | translate]]..." readonly>
    	</div>
	</div>                       
    
    <div class="buffer"></div>
    
    <div id="morecontent" class="row">
        <div class="col col-lg-10 col-lg-offset-1">
        <div class="morefrom col col-sm-4">
        	<h4>[['More title' | translate]] «[[prediction.source | getTranslated:'title']]»</h4>
	        <div ng-switch on="more.title.length">
	            <div ng-switch-default>
	            <li class="card textcard color-[[item.category.color]]" ng-repeat="item in more.title | limitTo:2" >
	                <a ng-href="[[language]]/p/[[item.source.author | slugify]]/[[item.source | getTranslated:'title' | slugify]]/[[item.id]]">
	                <p>[[item|getTranslated:'description']]</p>
	                </a>
	            </li>
	            </div>
	            <p ng-switch-when="0">[['No more predictions from (title)' | translate]] [[prediction.source | getTranslated:'title']][['yet. Know one?' | translate]] <a ng-href="[[language]]/submit/prediction" type="button" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-plus"></span> [['Add a prediction' | translate]]</a></p>
	        </div>
        </div>
        <div class="morefrom col col-sm-4">
	        <h4>[['More author' | translate]] [[prediction.source.author]]</h4>
	        <div ng-switch on="more.author.length">
	            <div ng-switch-default>
	            <li class="card textcard color-[[item.category.color]]" ng-repeat="item in more.author | limitTo:2">
	                <a ng-href="[[language]]/p/[[item.source.author | slugify]]/[[item.source | getTranslated:'title' | slugify]]/[[item.id]]">
	                <p>[[item|getTranslated:'description']]</p>
	                </a>
	            </li>
	            </div>
	            <p ng-switch-when="0">[['No more predictions from (author)' | translate]] [[prediction.source.author]][['yet. Know one?' | translate]] <a ng-href="[[language]]/submit/prediction" type="button" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-plus"></span> [['Add a prediction' | translate]]</a></p>
	        </div>
        </div>
        <div class="morefrom col col-sm-4">
	        <h4>[['More category' | translate]] [[category|getTranslated:'title']]</h4>
	        <div ng-switch on="more.category.length">
	            <div ng-switch-default>
	            <li class="card textcard color-[[item.category.color]]" ng-repeat="item in more.category | limitTo:2">
	                <a ng-href="[[language]]/p/[[item.source.author | slugify]]/[[item.source | getTranslated:'title' | slugify]]/[[item.id]]">
	                <p>[[item|getTranslated:'description']]</p>
	                </a>
	            </li>
	            </div>
	            <p ng-switch-when="0">[['No more predictions from (category)' | translate]] [[category|getTranslated:'title']][['yet. Know one?' | translate]] <a ng-href="[[language]]/submit/prediction" type="button" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-plus"></span> [['Add a prediction' | translate]]</a></p>
	        </div>
        </div>
        </div>
    </div>            
        
</div> <!-- content -->
