<div id="content" class="embed">
    <div class="detail row">
        
        <div class="col col-lg-6 col-lg-offset-3">
        
            <div class="prediction">
                <img ng-show="prediction.image" ng-src="/uploaded/[[prediction.image]]" width="100%"/>
                <div class="predictiontext">
                <h2>[[prediction|getTranslated:'headline']]</h2>       
                <p>[[prediction|getTranslated:'description']]</p>
                <p class="source">&mdash; [[prediction.source.title]] [['by' | translate ]] [[prediction.source.author | reverse]] ([[prediction.source.year_published]])</p>
                </div>
            </div>
    
        </div>
    </div>
        
        
    <div class="timeaxis row col-lg-12">
            <!- TODO assign top-value by a function so that the dots are distributed correctly -->
        <div class="verticalline"> 
            
            <div class="timedot"></div><div class="timetext">Published in [[prediction.source.year_published]]</div>
            <img class="cover" ng-src="/uploaded/[[prediction.source.image]]" alt="[[prediction.source.title]]">
            <div class="timedot"></div><div class="timetext">Predicted for [[prediction.year_predicted]]</div>
            
            <div class="realisation" ng-repeat="realisation in realisations">
            	<div class="timedot"></div><div class="timetext">[[realisations[0].year_introduced]]</div>
            	<p>[[realisation|getTranslated:'description']]</p>
            	<!-- <img ng-src="/uploaded/[[realisation.image]]" width="200px"/> -->
            </div>
		    
	        <a ng-href="[[language]]/submit/realisation?p=[[prediction.id]]" class="btn btn-primary btn-lg addRealisation">Add realisation</a>
        </div> 
	</div> <!- timeaxis -->
      
	<div class="buffer clearfix"></div>
    
    <div id="signature">
	    <p>Dystopia Tracker. Visit site.</p>
    </div>
        
</div> <!- content ->
