<div id="wrapper">


    <div class="page-header">
        <h1>[[title()]]</h1>
        <nav>Cards view | Timeline view</nav>
        <div id="filters">
        	
            <select id="category">
                 <option value=''>All categories</option>
                 <option ng-repeat="category in categories" value="[[category.id]]">[[category.title]]</option> <!- TODO: trigger filtered view on click ->
            </select>
            
             <!- TODO: get options list from API ->
            <select id="mediatype">
                 <option value=''>All sources</option>
                 <option ng-repeat="source in sources" value="[[source.type]]">[[source.type]]</option> <!- TODO: trigger filtered view on click ->
            </select>
            
            <select id="titles">
                 <option value=''>All titles</option>
                 <option ng-repeat="source in sources" value="[[source.title]]">[[source.title]]</option> <!- TODO: trigger filtered view on click ->
            </select>
            
            <form id="searchform"> <!- TODO: add typeahead functionality ->
                <input class="typeahead" placeholder="Search for a title"> 
            </form>
            
        </div> <!- filters ->
    </div> <!- page-header ->
	
	<div id="intro"></div> <!-- TODO: This will be an intro text only shown once to the user -->
	
    <div id="content">
        <div class="cardview editorspicks" ng-hide=""> <!- TODO: only show this part if at least one editors pick for the selected filter is available ->
	        <p class="line"><span>Editor's picks</span></p>
            <li class="card imagecard color-[[prediction.category]]" ng-repeat="prediction in predictions" ng-show="[[prediction.editors_pick | editorspick]]">
	            <img class="cover" ng-src="/uploaded/[[prediction.source.image]]" alt="[[prediction.source.title]]">
	             <p class="prediction">[[prediction.description_E]]</p>
	             <p class"realisations" ng-switch on="prediction.realisations.length">
	                 <span ng-switch-when="0">This real? Add realisation.</span>
	                 <span ng-switch-when="1">1 realisation</span>
	                 <span ng-switch-default>[[prediction.realisations.length]] realisations</span>
	             </p>
           </li>

        </div><!- editorspicks ->
    
        <div class="cardview latest">
            <p class="line"><span>Latest</span></p>
			<button>Add new prediction</button>
			<!- Get all predictions in reverse chronological order, latest first (reverse==true) ->
            <li class="card color-[[prediction.category]]" ng-repeat="prediction in predictions | orderBy: 'creation_date':true"> 
	            <p class="prediction">[[prediction.description_E]]</p>
	            <p class="source">&mdash; [[prediction.source.title]] by [[prediction.source.author.split(',').reverse().join(' ')]] ([[prediction.source.year_published]]) </p>
            </li>
		<button>Load more...</button>
        </div> <!- latest ->
    </div> <!- content ->
    
    <div id="footer">
		<p>I'm in the footer!</p>
    </div>
</div> <!- wrapper ->