<div id="filters" ng-class="showFilters ? 'visible-mobile' : '' ">

    <form id="searchform" ng-submit="update(true)" class="input-group">

        <div class="input-group-btn">
            <div class="dropdown">
                <button type="button" class="btn btn-default dropdown-toggle">
                    <span class="hidden-xs">
                        <span ng-if="filters.category != ''">
                            [[ getCategoryTitle( getCategory(filters.category) ) | translate ]]
                        </span>
                        <span ng-if="filters.category == ''">
                            [[ 'All categories' | translate ]]
                        </span>
                        <span class="caret"></span>
                    </span>
                    <span class="visible-xs">
                        <i class="glyphicon glyphicon-filter"></i>
                    </span>
                </button>
                <ul class="dropdown-menu categories">
                    <li ng-class="filters.category == '' ? 'active' : ''">
                        <a ng-click="filters.category = ''; update(true)">
                            [['All categories' | translate ]]
                        </a>
                    </li>
                    <li class="color-[[category.color]]" ng-repeat="category in categories" ng-class="filters.category == category.id ? 'active' : ''">
                        <a ng-click="filters.category = category.id; update(true)">
                            [[getCategoryTitle(category)]]
                        </a>
                    </li>
                </ul>
            </div>

            <div class="dropdown hidden-xs">
                <button type="button" class="btn btn-default dropdown-toggle">
                    <span ng-if="filters.source__type != ''">
                        [[ sources[filters.source__type] | translate ]]
                    </span>
                    <span ng-if="filters.source__type == ''">
                            [['All sources' | translate ]]
                    </span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li ng-class="filters.source__type == '' ? 'active' : ''">
                        <a ng-click="filters.source__type = ''; update(true)">
                            [['All sources' | translate ]]
                        </a>
                    </li>
                    <li ng-repeat="key in sourcesKey" ng-init="source = sources[key]" ng-class="filters.source__type == key ? 'active' : ''">
                        <a ng-click="filters.source__type = key; update(true)">
                            [[ source | translate ]]
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <input type="text" class="sfTypeahead" options="typeahedOptions" datasets="typeaheadData" placeholder="[['Search for a title' | translate ]]" autofocus ng-model="filters.title">

    </form>

</div>

<div id="toggle-filters" ng-init="showFilters = false">
    <i class="glyphicon glyphicon-search" ng-click="showFilters = !showFilters"></i>
</div>

<div class="btn-group langswitch hidden-xs">
    <button type="button" ng-click="changeLanguage('E')" class="btn btn-default btn-sm" ng-class="isActive('E')">
        En<span class="hidden-xs">glish</span>
    </button>
    <button type="button" ng-click="changeLanguage('D')" class="btn btn-default btn-sm" ng-class="isActive('D')">
        De<span class="hidden-xs">utsch</span>
    </button>
    <button type="button" ng-click="changeLanguage('F')" class="btn btn-default btn-sm" ng-class="isActive('F')">
        Fr<span class="hidden-xs">ançais</span>
    </button>
</div>

<div class="alert alert-welcome alert-dismissable fade in" ng-hide="returningVisitor">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	<p><strong>[['welcome_bold' | translate ]].</strong> [['welcome_text' | translate ]]</p>
</div>


<div id="content">

    <div class="cardview editorspicks row" ng-hide="editorspicks.length==0">
        <div class="sectionhead">[['Editors picks' | translate]]</div>
        <div id="loading" ng-if="spinner">
            <div class="spinner"></div>
            Loading...
        </div>
        <div class="col-sm-6 col-md-4" ng-repeat="editorspickslist in editorspicks">
            <li class="card imagecard color-[[editorspick.category.color]]" ng-repeat="editorspick in editorspickslist">
	            <a ng-href="[[language]]/p/[[editorspick.source.author | slugify]]/[[editorspick.source | getTranslated:'title' | slugify]]/[[editorspick.id]]">
	            <img class="cover" ng-src="{{STATIC_URL}}{{MEDIA_URL}}[[editorspick.source.image]]" alt="[[editorspick.source | getTranslated:'title']]">
	             <p class="cardtext">[[editorspick|getTranslated:'description']]</p>
	             <div class"realisation-no" ng-switch on="editorspick.realisations.length">
	                 <span class="badge" ng-switch-when="0">[['This real? Add realisation.' | translate ]]</span>
	                 <span class="badge" ng-switch-when="1">1 [['realisation' | translate ]]</span>
	                 <span class="badge" ng-switch-default>[[editorspick.realisations.length]] [['realisations' | translate ]]</span>
	             </div>
	            </a>
            </li>
        </div>
    </div><!-- editorspicks -->

    <div class="buffer"></div>

    <div class="alert alert-welcome alert-dismissable fade in" ng-if="[[language]] == 'F'">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <p><strong>Juste lancé en Français.</strong> Aidez de faire mieux le Dystopia Tracker en ajoutant des prédictions ou en traduisant de <a href="/E">l'Anglais</a> ou de <a href="/D">l'Allemand</a>.</p>
    </div>

    <div class="cardview latest row clearfix">
        <div class="sectionhead">[['Latest' | translate]]</div>
        <div id="loading" ng-if="spinner">
            <div class="spinner"></div>
            Loading...
        </div>
        <div ng-switch on="predictions.length">
            <div ng-switch-default>
                <div class="col-sm-4 col-md-3" ng-repeat="predictionsslist in predictions">
                    <a ng-if="$first" ng-href="[[language]]/submit/prediction" type="button" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-plus"></span> [['Add a prediction' | translate]]</a>
		        	<li class="card textcard color-[[prediction.category.color]]" ng-repeat="prediction in predictionsslist | orderBy: 'creation_date':true"> 
                        <a ng-href="[[language]]/p/[[prediction.source.author | slugify]]/[[prediction.source | getTranslated:'title' | slugify]]/[[prediction.id]]">
                            <p class="cardtext">[[prediction|getTranslated:'description']]</p>
                            <p class="source">&mdash; [[prediction.source|getTranslated:'title']] <span ng-if="prediction.source.author">[['by' | translate ]] [[prediction.source.author]]</span> <span ng-if="prediction.source.year_published > 0">([[prediction.source.year_published]])</span></p>
                            <p class"realisations" ng-switch on="prediction.realisations.length">
                                <span class="badge" ng-switch-when="0"></span>
                                <span class="badge" ng-switch-when="1">1 [['realisation' | translate ]]</span>
                                <span class="badge" ng-switch-default>[[prediction.realisations.length]] [['realisations' | translate ]]</span>
                            </p>
                        </a>
                    </li>
                    <button ng-if="$last" type="button" class="btn btn-default btn-lg btn-block" ng-hide="hideMoreButton" ng-click="update(false)">[['Load more' | translate]]...</button>
                </div>
            </div>
            <div ng-if="noContent" class="col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-4">
                <p ng-bind-template="[['Bummer, no content' | translate ]]"></p>
                <a ng-href="[[language]]/submit/prediction" type="button" class="btn btn-primary btn-lg">
                    <span class="glyphicon glyphicon-plus"></span> [['Add a prediction' | translate]]
                </a>
            </div>
        </div>

    </div> <!-- latest -->

    <a ng-href="[[language]]/submit/prediction" class="btn btn-primary btn-xs visible-xs addnew">
        <span class="glyphicon glyphicon-plus"></span>
    </a>
</div> <!-- content -->
