
        <div id="filters">
        	
            <select id="language" ng-model="language" ng-change="changeLanguage()">
                <option value="E">EN</option>
                <option value="D">DE</option>
            </select>
            
            <select id="category" ng-model="filters.category" ng-change="update(true)">
                 <option value=''>[[ 'All categories' | translate ]]</option>
                 <option ng-repeat="category in categories" value="[[category.id]]">[[category.title_E]]</option>
            </select>

            <select id="sourcetype" ng-model="filters.source__type" ng-change="update(true)">
                 <option value=''>[['All Sources' | translate ]]</option>
                 <option value='literature'>[['Literature' | translate ]]</option>
                 <option value='movies'>[['Movies' | translate ]]</option>
                 <option value='tv_series'>[['TV Series' | translate ]]</option>
                 <option value='games'>[['Games' | translate ]]</option>
                 <option value='others'>[['Others' | translate ]]</option>
            </select>

            <form id="searchform" ng-submit="update(true)">
                <input type="text" class="sfTypeahead" options="typeahedOptions" datasets="typeaheadData" placeholder="[['Search for a title' | translate ]]" ng-model="filters.title">
                <input type='submit' tabindex='-1' hidefocus='true'>
            </form>
            
        </div> <!- filters ->
        Filters applied: [[filters]]
    </div> <!- page-header ->

	<div class="alert alert-info alert-dismissable fade in">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		<strong>[['welcome.bold' | translate ]]</strong> [['welcome.text' | translate ]]</div> <!-- TODO: cookie behaviour -->

    <div id="content">
        <div class="cardview editorspicks" ng-hide="editorspicks.length==0">
	        <p class="line"><span>[['Editors picks' | translate]]</span></p>
            <li class="card imagecard color-[[editorspick.category]]" ng-repeat="editorspick in editorspicks">
	            <a ng-href="[[language]]/p/[[editorspick.source.author | reverse | slugify]]/[[editorspick.source.title | slugify]]/[[editorspick.id]]">
	            <img class="cover" ng-src="/uploaded/[[editorspick.source.image]]" alt="[[editorspick.source.title]]">
	             <p class="prediction">[[editorspick|getTranslated:'description']]</p>
	             <p class"realisations" ng-switch on="editorspick.realisations.length">
	                 <span ng-switch-when="0">This real? Add realisation.</span>
	                 <span ng-switch-when="1">1 realisation</span>
	                 <span ng-switch-default>[[editorspick.realisations.length]] realisations</span>
	             </p>
	            </a>
           </li>

        </div><!- editorspicks ->

        <div class="cardview latest">
            <p class="line"><span>[['Latest' | translate]]</span></p>
			<button type="button" class="btn btn-primary btn-lg btn-block"><span class="glyphicon glyphicon-plus"></span> [['Add new prediction' | translate]]</button>
			<!- Get all predictions in reverse chronological order, latest first (reverse==true) ->
            <li class="card color-[[prediction.category]]" ng-repeat="prediction in predictions | orderBy: 'creation_date':true"> 
	            <a ng-href="[[language]]/p/[[prediction.source.author | reverse | slugify]]/[[prediction.source.title | slugify]]/[[prediction.id]]">
	            <p class="prediction">[[prediction|getTranslated:'description']]</p>
	            <p class="source">&mdash; [[prediction.source.title]] [['by' | translate ]] [[prediction.source.author | reverse]] ([[prediction.source.year_published]])</p>
	            </a>
            </li>
		<button type="button" class="btn btn-default btn-lg btn-block" ng-hide="hideMoreButton" ng-click="update(false)">[['Load more' | translate]]...</button>
        </div> <!- latest ->
        <button type="button" class="btn btn-primary btn-xs visible-xs addnew"><span class="glyphicon glyphicon-plus"></span></button>
    </div> <!- content ->
