{% extends "base.dj.html" %}
{% load compress %}

{% block extrajs %}
    {% compress js %}
        <script type="text/javascript" src="{{ STATIC_URL }}js/app.js"></script>

        <!-- Controllers -->
        <script type="text/javascript" src="{{ STATIC_URL }}js/controllers/PageCtrl.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/controllers/HomeCtrl.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/controllers/DetailsCtrl.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/controllers/ThankyouCtrl.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/controllers/EmbedCtrl.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/controllers/SubmitPredictionCtrl.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/controllers/SubmitRealisationCtrl.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/controllers/TimelineCtrl.js"></script>
                        
        <!-- Filters -->
        <script type="text/javascript" src="{{ STATIC_URL }}js/filters.js"></script>

        <!-- Services -->
        <script type="text/javascript" src="{{ STATIC_URL }}js/services/Categories.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/services/AuthHTTP.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/services/Prediction.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/services/Realisation.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/services/Sources.js"></script>
        
        <script type="text/javascript" src="{{ STATIC_URL }}js/animations.js"></script>
    {% endcompress %}
{% endblock %}

{% block content %}
<div class="container-fluid" >

    <div id="header" class="row" ng-hide="isEmbed">
        <h1><a href="/">[[title()]]</a></h1>
        <div class="viewswitch btn-group hidden-xs">
	         <a href="/" type="button" class="btn btn-default btn-xs active" ng-class="activeView('cards')">Cards</a>
	         <a ng-href="[[_lang]]/timeline" type="button" class="btn btn-default btn-xs" ng-class="activeView('timeline')">Timeline</a>
        </div>
        
    
<!-- get content from partials -->
<div ng-view autoscroll="true"></div>

<div id="footer" class="row text-muted small" ng-hide="isEmbed">
		
		<div class="col col-lg-2">LOGOS</div>
		
		<div class="col col-sm-6 col-lg-4">
			<p><strong>[['The Dystopia Tracker' | translate ]]</strong> [['infotext' | translate ]]</p>
		</div>
		<div class="col col-sm-6 col-lg-4">
		    <p><strong>[['license_bold' | translate ]]</strong> [['license_rest1' | translate ]] <a href="http://creativecommons.org/licenses/by-sa/3.0/">BY-SA Creative Commons</a> [['license_rest2' | translate ]] <a href="https://github.com/jplusplus/dystopia-tracker/wiki/API-Methods">Dystopia Tracker API</a> [['license_rest3' | translate ]].</p>
		</div>
		
		<div class="col col-lg-2">
			<a href="https://twitter.com/dystopiatracker" class="twitter-follow-button" data-show-count="false" data-dnt="true">Follow @dystopiatracker</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
            <iframe src="http://ghbtns.com/github-btn.html?user=jplusplus&repo=dystopia-tracker&type=fork"
  allowtransparency="true" frameborder="0" scrolling="0" width="53" height="20"></iframe>
		</div>
</div>  
    
{% endblock %}