{% extends "base.dj.html" %}
{% load compress %}

{% block extrajs %}
    {% compress js %}
        <script type="text/javascript" src="{{ STATIC_URL }}js/app.js"></script>

        <!-- Controllers -->
        <script type="text/javascript" src="{{ STATIC_URL }}js/controllers/PageCtrl.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/controllers/HomeCtrl.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/controllers/DetailsCtrl.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/controllers/ThankyouCtrl.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/controllers/EmbedCtrl.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/controllers/SubmitPredictionCtrl.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/controllers/SubmitRealisationCtrl.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/controllers/TimelineCtrl.js"></script>
                        
        <!-- Filters -->
        <script type="text/javascript" src="{{ STATIC_URL }}js/filters.js"></script>

        <!-- Services -->
        <script type="text/javascript" src="{{ STATIC_URL }}js/services/Categories.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/services/AuthHTTP.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/services/Prediction.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/services/Realisation.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/services/Sources.js"></script>
        
        <script type="text/javascript" src="{{ STATIC_URL }}js/animations.js"></script>
    {% endcompress %}
{% endblock %}

{% block content %}
<div class="container-fluid embed-[[isEmbed]]" >

    <div class="row">
        <div id="header" ng-hide="isEmbed">
            <h1><a ng-href="/[[_lang]]"><strong>Dystopia</strong> Tracker</a></h1>
        </div>
    </div>

    <div class="viewswitch hidden-xs" ng-hide="isEmbed">
        <a ng-href="/[[_lang]]" ng-class="activeView('cards')">
            Cards
        </a>/
        <a ng-href="[[_lang]]/timeline" ng-class="activeView('timeline')">
            Timeline
        </a>
    </div>        
        
    <!-- get content from partials -->
    <div ng-view autoscroll="true"></div>

    <div id="footer" class="text-muted small" ng-hide="isEmbed">
    	<div class="row">
    		<div class="col col-lg-2 logos hidden-xs">
	    		<a href="http://www.jplusplus.org" target="_blank" title="Journalism++"><img class="jplusplus" src="{{ STATIC_URL }}img/logo_jpp.png"></a>
	    		<a href="http://www.tageswoche.ch" target="_blank" title="TagesWoche"><img class="tageswoche" src="{{ STATIC_URL }}img/logo_tw.png"></a>
    		</div>
    		
    		<div class="col col-sm-6 col-lg-4">
    			<p><strong>[['The Dystopia Tracker' | translate ]]</strong> [['infotext' | translate ]] <a href="https://medium.com/@davidbauer/18abfccded96" target="_blank">[['more on DT' | translate]]</a></p>
    		</div>
    		<div class="col col-sm-6 col-lg-4">
    		    <p><strong>[['license_bold' | translate ]]</strong>[['license_rest1' | translate ]] <a href="http://creativecommons.org/licenses/by-sa/3.0/">BY-SA Creative Commons</a> [['license_rest2' | translate ]] <a href="https://github.com/jplusplus/dystopia-tracker/wiki/API-Methods">Dystopia Tracker API</a> [['license_rest3' | translate ]].</p>
    		</div>
    		
    		<div class="col col-lg-2">
    			<li class="follow"><a href="http://www.twitter.com/dystopiatracker" target="_blank"><img src="https://dystopia-tracker.s3.amazonaws.com/img/twitter.png" alt="Twitter">Follow @dystopiatracker</a></li>

                <iframe src="http://ghbtns.com/github-btn.html?user=jplusplus&repo=dystopia-tracker&type=fork" allowtransparency="true" frameborder="0" scrolling="0" width="53" height="20"></iframe>
    		</div>
        </div>
    </div>  
    
{% endblock %}